@import url("https://fonts.googleapis.com/css?family=Orbitron");
:root {
  --width_frame: 320px;
  --height_frame: 568px;
}

* {
  margin: 0px;
  padding: 0px;
}

#root,
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}
